.tamaño{
    width: 80%;
    height: 60%;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
